<!-- <p>Add result == {{result}}</p>
<p>Multiply result == {{result2}}</p> -->
<p>{{ decision }}</p>
<h2>Entrez votre moyenne :</h2>
<input type="number" [(ngModel)]="average" (change)="onAverageChange()" />
<p *ngIf="!isNotvalidate">Décision : {{ decision }}</p>
<p *ngIf="isNotvalidate">La moyenne non valide</p>


<h2>Formulaire d'Étudiant</h2>
<form #etudiantForm="ngForm">
    <div>
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" [(ngModel)]="etudiantModule.nom" />
    </div>
    <div>
        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" [(ngModel)]="etudiantModule.prenom" />
    </div>
    <div>
        <label for="note1">Note 1 :</label>
        <input type="number" id="note1" name="note1" [(ngModel)]="etudiantModule.note1" />
    </div>
    <div>
        <label for="note2">Note 2 :</label>
        <input type="number" id="note2" name="note2" [(ngModel)]="etudiantModule.note2" />
    </div>
    <button type="submit" [disabled]="etudiantForm.invalid" (click)="onAverageChange()">OK</button>
    <div *ngIf="etudiantModule.nom">
        <p>Nom en majuscules : {{ etudiantModule.nom | uppercase }}</p>
    </div>
    <p>moyenne : {{decision}}</p>
</form>